@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";
@import "base/base";

body {
  font-family: OfficinaSansBlackC;
  position: relative;
  overflow-x: hidden;
  background-image: url('../img/main-bg.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: #F7E870;
    @include flex-center();
    opacity: 0;
    transition: all ease-in-out .5s;

    &.active {
      opacity: 1;
    }
  }

  & .bg-shine {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    @include response-to(small) {
      display: flex;
      justify-content: center;
      align-items: center;
      top: -280px;
      z-index: -2;
    }
  }

  & .bg {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    background-image: url('../img/main-shine-bg.svg');
    background-repeat: no-repeat;
    background-position: left top;

    @media(max-width: 1440px) {
      background-position: center top;
    }

    @include response-to(small) {
      background-image: url('../img/main-shine-bg-mob.svg');
      background-size: cover;
    }
  }

  & .container {
    padding-top: 23px;
    position: relative;
  }

  .logo {
    width: 160px;
    height: 130px;
    display: block;
    margin: 0 auto 58px;

    & img {
      max-width: 100%;
    }

    @include response-to(small) {
      margin-bottom: 42px;
    }
  }

  .img {
    z-index: -1;
    position: absolute;
    display: none;

    &.choco-wrap {
      display: block;
      width: 186px;
      transform: rotate(-12deg);
      top: 50px;
      left: 100px;

      @media(max-width: 180px) {
        left: 60px;
      }

      @include response-to(small) {
        position: relative;
        top: unset;
        left: 30px;
        transform: rotate(-9.66deg);
        margin-top: 70px;
        width: 155px;
      }
    }

    &.camera {
      width: 81px;
      top: 74px;
      right: 372px;
      display: block;

      @include response-to(small) {
        top: 348px;
        right: 20px;
      }
    }

    &.notebook {
      top: 78px;
      right: 197px;
      width: 86px;
      display: block;

      @include response-to(small) {
        top: 395px;
        right: unset;
        left: 50%;
        width: 58px;
      }
    }

    &.baloon {
      display: block;
      width: 100px;
      top: 23px;
      right: 85px;

      @include response-to(small) {
        top: 620px;
        right: 32px;
      }
    }

    &.text {
      display: block;
      top: 245px;
      right: 156px;
      width: 130px;

      @media(max-width: 1080px) {
        right: 117px;
      }

      @include response-to(small) {
        top: 452px;
        width: 130px;
        right: 15px;
      }
    }

    &.nota {
      display: block;
      width: 40px;
      right: 305px;
      top: 262px;

      @include response-to(small) {
        top: 740px;
        right: 37px;
        width: 32px;
      }
    }

    &.nota-min {
      display: block;
      width: 35px;
      top: 187px;
      right: 266px;

      @include response-to(small) {
        top: 703px;
        right: 10px;
        width: 28px;
      }
    }

    &.strips {
      z-index: -2;
      display: block;
      width: 297px;
      top: 100px;
      right: 93px;

      @media(max-width: 1080px) {
        right: 70px;
      }

      @include response-to(small) {
        top: 308px;
        right: -45px;
      }
    }

    &.choco {
      display: block;
      width: 85px;
      top: 178px;
      right: 43px;

      @media(max-width: 1080px) {
        right: 25px;
      }

      @include response-to(small) {
        display: none;
      }
    }
  }

  .counter {
    max-width: 494px;
    margin: 0 auto;
    background-color: $brown-color;
    padding: 76px 39px 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    position: relative;

    @include response-to(small) {
      padding: 52px 27px 25px;
      max-width: 340px;
    }
    
    &__item {
      
      &.hide {
        
        & p {
          color: #fff;
        }
      }
    }

    &__caption {
      position: absolute;
      width: 400px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      top: -32px;
      padding: 19px 11px;
      background-color: #fff;
      color: $brown-color;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 26px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;

      @include response-to(small) {
        width: 270px;
        font-size: 17px;
        padding: 13px 0;
        top: -22px;
      }
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      width: 126px;
      justify-content: space-between;
      position: relative;

      @include response-to(small) {
        width: 87px;
      }

      &:not(:last-of-type) {

        &:before {
          position: absolute;
          content: ':';
          font-weight: bold;
          font-size: 24px;
          color: #fff;
          top: 20px;
          //transform: translateX(-50%);
          right: -14px;

          @include response-to(small) {
            top: 12px;
            right: -11px;
          }
        }
      }

      &_num {
        color: $brown-color;
        font-weight: bold;
        font-size: 54px;
        text-align: center;
        background-color: #fff;
        width: 60px;
        border-radius: 5px;
        padding: 4px 0;

        @include response-to(small) {
          font-size: 40px;
          width: 42px;
          line-height: 40px;
          padding: 5px 0;
        }
      }

      &_text {
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin-top: 12px;

        @include response-to(small) {
          font-size: 12px;
          margin-top: 8px;
        }
      }
    }
  }
  
  .info-text {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 120px;
    margin-bottom: 25px;

    @include response-to(small) {
      margin-bottom: 22px;
      margin-top: 30px;
    }

    & .br-pc {

      @include response-to(small) {
        display: none;
      }
    }
  }

  .footer {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 0;

    @include response-to(small) {
      flex-wrap: wrap;
    }

    &__item {
      width: 20%;

      @include response-to(small) {
        width: 100%;
      }

      &:first-of-type {

        @include response-to(small) {
          order: 3;
        }
      }

      &:nth-of-type(2) {
        width: 78%;

        @include response-to(small) {
          width: 100%;
        }
      }

      &_phone {
        display: block;
        font-weight: 900;
        font-size: 21px;
        color: #fff;
        margin-bottom: 5px;

        @include on-event {
          text-decoration: underline;
        }

        @include response-to(small) {
          text-align: center;
          margin-bottom: 0;
        }
      }

      &_email {
        font-weight: normal;
        font-size: 16px;
        text-decoration: underline;
        color: #fff;
        display: block;

        @include on-event {
          text-decoration: none;
        }

        @include response-to(small) {
          margin-bottom: 24px;
          text-align: center;
        }
      }

      &_logo {
        width: 132px;
        margin: 0 auto 20px;

        @include response-to(small) {
          margin-bottom: 36px;
        }

        & img {
          max-width: 100%;
          display: block;
        }
      }

      &_text {
        color: #fff;
        text-align: center;
        font-weight: normal;
        font-size: 12px;

        @include response-to(small) {
          margin-bottom: 36px;
        }
      }

      &_links {
        display: flex;
        justify-content: flex-end;

        @include response-to(small) {
          justify-content: center;
        }
      }

      &_link {
        width: 29px;
        height: 29px;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include response-to(small) {
          width: 47px;
          height: 47px;
          margin-bottom: 14px;
        }
        
        &:not(:last-of-type) {
          margin-right: 8px;

          @include response-to(small) {
            margin-right: 13px;
          }
        }
        
        &.vk {
          background-image: url('../img/vk.svg');
        }

        &.yt {
          background-image: url('../img/youtube.svg');
        }

        &.inst {
          background-image: url('../img/inst.svg');
        }
      }
    }
  }
}