$dir: '../fonts';
@font-face {
  font-family: OfficinaSansBlackC;
  src: url('../../fonts/ofont.ru_OfficinaSansBookC.ttf');
  font-weight: 400;
}

@font-face {
  font-family: OfficinaSansBlackC;
  src: url('../../fonts/OfficinaSansBlackC-Regular.ttf');
  font-weight: 900;
}

@font-face {
  font-family: OfficinaSansBlackC;
  src: url('../../fonts/OfficinaSansBoldC.otf');
  font-weight: bold;
}
